<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
        padding: 0;
        background-color: gray;
        color: #333;
    }
    h1 {
        text-align: center;
    }
    </style>
</head>
<body>
    <h1>Welcome to our App</h1>
    <a href="products/">View Products</a>
</body>
</html>